.button2 {
    background-color: #AC3B61;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallTextarea {
    width: 500px;
    height: 45px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #EEE2DC;
    resize: none;
}

.bigTextarea {
    width: 500px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #EEE2DC;
    resize: none;
}

p {
    font-size: 14px;
    width: 500px;
    font-weight: bold;
    text-align: left;
    color: #123C69;
}
select {
    width: 500px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #EEE2DC;
    resize: none;
}
h3 {
    text-align: center;
    font-size: 24px;
    color: #123C69;
}